.Results {
  text-align: center;
}
.Results h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 15px;
}
.text {
  padding-left: 20px;
  color: #6ca87d;
  font-weight: 700;
}

.sound {
  border: 1px solid #ddd;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 20px;
  color: #6ca87d;
  transition: all 150ms ease-in-out;
  margin-right: 10px;
  background-color: white;
}

.sound:hover {
  background: #6ca87d;
  color: white;
}
